body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: aliceblue;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    
}

.container-fluid {
    padding: 3% 15% 7%;
}

.Title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}
.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 25%;
    transform: rotate(25deg);
    margin-left: 161px;
    position: absolute;
    right: 14%; 
}
.title-first{
    margin: 10% auto 9%;
}

/*second part*/
#features{
    padding: 7% 15%;
    background-color: rgb(255, 255, 255);
    position: relative;
   
}
.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.8rem;
}
p{
    color: rgb(116, 115, 115);
    font-size: 1rem;
}
.logo{
    color: #ee7186;
    margin-bottom: 1rem;
}
.logo:hover{
    color: #fc4c69;
}
/*Testimonial*/
#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: aliceblue;
}
h2{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%; 
}

/* Pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloumn{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    color: aliceblue;
    text-align: center;
    padding: 7% 15% 2%;
}
.cta-heading{
    font-family: "Montserrat";
    font-size: 4.8rem;
    line-height: 1.5;
}
.download-button-cta{
    margin: 5% 1% 5%;
}
/* Footer-section */
#footer{
    padding: 2% 8%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}

@media(max-width:1200px) {

    .title-first{
        text-align: center;
    }

    .title-image{
        
        position: static;
        width: 300px;
        transform: rotate(0);
    }

}